<div class="jumbotron" id="fortop" align="center">
  <h1 style="color:white;">Online Voting System</h1>
</div>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">
      <ul class="nav navbar-nav">
    <li><a href="home">Home</a></li>
    <li class="active"><a href="Operations ">Operations</a></li>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Election <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li ><a href="One">Ongoing Election</a></li>
        <li ><a href="coe">Completed Election</a></li>
        <li><a href="upe">Upcoming Election</a></li>
      </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Candidates <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="addcand">Add Candidate</a></li>
        <li><a href="upcand">Update Candidate</a></li>
        <li ><a href="upcand">Remove Candidate</a></li>
      </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Voters <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="addvoter">Add Voters</a></li>
        <li><a href="upvoter">Update Voters</a></li>
        <li ><a href="upvoter">Remove Voters</a></li>
      </ul>
    </li>

    </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/addcand"><span class="glyphicon glyphicon-user"></span> Election Manager</a></li>
    <li><a href="/ "><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
  </ul>
</div>
</nav>
