<div class="jumbotron" id="fortop" align="center">
  <h1 style="color:white;">Online Voting System</h1>
</div>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">
      <ul class="nav navbar-nav">
      </ul>

  <ul class="nav navbar-nav navbar-right">

          <li role="presentation"><a href="/">Voting System</a></li>
          <li role="presentation"><a href="/">Logout</a></li>
          <li role="presentation"><a href="/">Login</a></li>
          <li role="presentation"><a href="/register">Registration</a></li>


  </ul>
</div>



</nav>
